body {
    background-color: rgb(196, 233, 220);
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* task-1  */
.tsk1btn {
    margin: 10px;
    padding: 30px 80px;
    background-color: rgb(240, 105, 255);
    border: none;
    border-radius: 15px;
    color: white;
    letter-spacing: 5px;
    text-shadow: 3px 3px 5px black;
    box-shadow:
        10px 10px 20px black,
        -10px -10px 20px white;
    cursor: pointer;
    transition: all 0.2s ease;

}

.tsk1btn:active {
    box-shadow:
        inset 6px 6px 9px black,
        inset -4px -4px 7px white;
    text-shadow: 1px 1px 3px black;
}

/* task-2  */
.task2 {
    margin: 30px;
    padding: 10px;
}

.img1 {
    width: 230px;
    height: 230px;
    transition: transform 1s ease, filter 1s ease;

}

.card {
    width: 230px;
    background-color: white;
    overflow: hidden;
    transition: box-shadow 1s ease;

}

.task2-p {
    color: brown;
    font-size: 28px;
    margin: 8px 0 10px;

}

.card2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task2-btn {
    background-color: rgb(25, 101, 8);
    border: none;
    border-radius: 5px;
}

.task2:hover {
    box-shadow: 5px 5px 20px 10px rgb(247, 1, 1), -5px -5px 20px 10px rgb(247, 0, 0);

}

.card:hover .img1 {
    transform: scale(1.5);
    filter: grayscale(100%);
}
/* task3  */

.task3{
    font-size: 140px;
    color: red;
    letter-spacing: 20px;
    animation: luka 0.5s infinite;
  }
  
  @keyframes luka{
    0%   { opacity: 1; }
    25%   { opacity: 0.5; }
    50%  { opacity: 0; }
    75%   { opacity: 0.5; }
    100% { opacity: 1; }
  }
  /* task4  */

  .tsk4{
    position: relative;
    width: 200px;
    height: 200px;

    border-radius: 50%;
  }
  
  .rgoli{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid;
    border-top-color: green;
    border-right-color: yellow;
    border-bottom-color: red;
    border-left-color: green;
    animation: spin 2s linear infinite;
  }
  
  .teqsti{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
    color: green;
  }
  
  .tsk4:hover .rgoli{
    animation-play-state: paused;
  }
  
  @keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  /* task5  */
.task5{
    margin: 30px;
}
  

  .header{
    width:430px;
    padding: 25px 40px;
    background-color: darkcyan;
  }
  
  .nav{
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  
  a{
    color: white;
    text-decoration: none;
    font-size: 24px;
  
    text-shadow: 1px 1px 2px black;
  
    transition: text-shadow 1s ease, color 1s ease;
  }
  
  a:hover{
    color: #fb00ff;
    text-shadow:
      0 0 5px #ff00fb,
      0 0 12px #ff00e1,
      0 0 24px #ff00fb,
      0 0 40px #f700ff;
  }

  /* task6  */
  .tetri{
    width: 1000px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
  }
  
  .lurji{
    height: 100%;
    width: 0;
    background-color: #60b5ca;
    border-radius: 10px;
    animation: loading 16s linear forwards;
  }
  
  @keyframes loading{
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    }
  }
